Repository stiftungswo/better-izivi, pull requests merged in 2019-08, with the labels that each got.

#156 Additional ExpenseSheetCalculators
  api/app/models/expense_sheet.rb
  api/app/models/service.rb
  api/app/services/expense_sheet_calculator_service.rb
  api/app/services/expense_sheet_calculators/expenses_calculator.rb
  api/app/services/expense_sheet_calculators/remaining_days_calculator.rb
  api/app/services/expense_sheet_calculators/suggestions_calculator.rb
  api/app/services/expense_sheet_calculators/used_days_calculator.rb
  api/app/services/service_calculator.rb
  api/spec/models/expense_sheet_spec.rb
  api/spec/models/service_spec.rb
  api/spec/services/expense_sheet_calculators/expenses_calculator_spec.rb
  api/spec/services/expense_sheet_calculators/remaining_days_calculator_spec.rb
  api/spec/services/expense_sheet_calculators/suggestions_calculator_spec.rb
  api/spec/services/expense_sheet_calculators/used_days_calculator_spec.rb
  api/spec/support/service_dates_spec_helper.rb
Labels: API

#164 Add ExpenseSheet hints endpoint
  api/app/controllers/v1/expense_sheets_controller.rb
  api/app/services/expense_sheet_calculators/remaining_days_calculator.rb
  api/app/services/expense_sheet_calculators/suggestions_calculator.rb
  api/app/views/v1/expense_sheets/hints.json.jbuilder
  api/config/routes.rb
  api/debugging/requests/expense_sheets/hints.http
  api/spec/requests/v1/expense_sheets_controller_spec.rb
  api/spec/routing/v1/expense_sheets_routing_spec.rb
  api/spec/services/expense_sheet_calculators/remaining_days_calculator_spec.rb
  api/spec/services/expense_sheet_calculators/suggestions_calculator_spec.rb
Labels: API

#165 Add service_id to ExpenseSheet#show
  api/app/views/v1/expense_sheets/show.json.jbuilder
  api/spec/requests/v1/expense_sheets_controller_spec.rb
Labels: API

#168 Add Service validation against duplicate periods
  api/app/models/service.rb
  api/config/locales/de.yml
  api/config/locales/en.yml
  api/config/locales/fr.yml
  api/spec/models/service_spec.rb
  api/spec/requests/v1/services_controller_spec.rb
Labels: API

#161 Feature: Frontend: Expense sheets
  api/app/controllers/v1/concerns/params_authenticatable.rb
  api/app/models/expense_sheet.rb
  api/app/views/shared/users/_user.json.jbuilder
  api/app/views/v1/expense_sheets/_expense_sheet.json.jbuilder
  api/app/views/v1/services/_service.json.jbuilder
  api/spec/requests/v1/expense_sheets_controller_spec.rb
  api/spec/requests/v1/services_controller_spec.rb
  api/spec/requests/v1/users_controller_spec.rb
  frontend/cypress/integration/profile_navigation_spec.js
  frontend/cypress/server/db.json
  frontend/src/App.tsx
  frontend/src/form/formik.tsx
  frontend/src/layout/Navigation.tsx
  frontend/src/stores/apiStore.ts
  frontend/src/stores/expenseSheetStore.ts
  frontend/src/stores/mainStore.ts
  frontend/src/stores/reportSheetStore.ts
  frontend/src/types.ts
  frontend/src/utilities/StoreProvider.tsx
  frontend/src/views/PhoneList.tsx
  frontend/src/views/expense_sheets/ExpenseSheetOverview.tsx
  frontend/src/views/expense_sheets/ExpenseSheetStatisticFormDialog.tsx
  frontend/src/views/expense_sheets/ExpenseSheetUpdate.tsx
  frontend/src/views/expense_sheets/expenseSheetSchema.ts
  frontend/src/views/expense_sheets/expense_sheet_form/ExpenseSheetForm.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/ExpenseSheetFormButtons.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/AbsolvedDaysBreakdownSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/ClothingExpensesSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/CompanyHolidaysSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/DrivingExpensesSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/ExtraordinaryExpensesSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/FooterSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/GeneralSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/PaidVacationSegmet.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/UnpaidVacationSegmet.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/expenseSheetFormSegment.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/segments/index.ts
  frontend/src/views/payments/ExpenseSheetConfirmer.tsx
  frontend/src/views/payments/PaymentDetail.tsx
  frontend/src/views/payments/PaymentOverview.tsx
  frontend/src/views/report_sheets/ReportSheetForm.tsx
  frontend/src/views/report_sheets/ReportSheetUpdate.tsx
  frontend/src/views/report_sheets/reportSheetSchema.ts
  frontend/src/views/users/ExpenseSheetSubform.tsx
  frontend/src/views/users/ReportSheetSubform.tsx
  frontend/src/views/users/UserForm.tsx
  frontend/src/views/users/schemas.ts
  frontend/src/views/users/service_modal/ServiceModal.tsx
  frontend/src/views/users/service_subform/ServiceOverviewTable.tsx
Labels: Frontend

#192 Upgrade to Rails 6
  api/.rubocop.yml
  api/.rubocop_todo.yml
  api/Gemfile
  api/Gemfile.lock
  api/bin/rails
  api/bin/rake
  api/bin/setup
  api/config/application.rb
  api/config/cable.yml
  api/config/environments/test.rb
  api/config/initializers/new_framework_defaults_6_0.rb
  api/config/puma.rb
  api/config/spring.rb
  api/db/schema.rb
  api/spec/models/expense_sheet_spec.rb
  api/spec/models/payment_spec.rb
  api/spec/models/service_spec.rb
  api/spec/models/user_spec.rb
  api/spec/requests/devise/registrations_controller_spec.rb
  api/spec/requests/v1/expense_sheets_controller_spec.rb
  api/spec/requests/v1/holidays_controller_spec.rb
  api/spec/services/day_calculator_spec.rb
  api/spec/services/holiday_calculator_spec.rb
  api/spec/services/normal_service_calculator_spec.rb
  api/spec/services/pain_generation_service_spec.rb
  api/spec/services/pdfs/expense_sheet/generator_service_spec.rb
  api/spec/services/pdfs/phone_list_service_spec.rb
  api/spec/services/pdfs/service_form_filler_spec.rb
  api/spec/services/service_calculator_spec.rb
  api/spec/services/short_service_calculator_spec.rb
Labels: API

#182 Change Service#eligible_sick_days calculation
  api/app/services/service_calculator.rb
  api/app/services/sick_days_calculator.rb
  api/spec/services/service_calculator_spec.rb
  api/spec/services/sick_days_calculator_spec.rb
Labels: API, question

#195 Feedback Mailer
  api/.env.example
  api/.env.semaphore
  api/Gemfile
  api/Gemfile.lock
  api/app/Jobs/.keep
  api/app/Jobs/application_job.rb
  api/app/mailers/feedback_mailer.rb
  api/app/models/service.rb
  api/app/services/feedback_reminder_mail_sender_service.rb
  api/app/views/feedback_mailer/feedback_reminder_mail.de.html.erb
  api/app/views/feedback_mailer/feedback_reminder_mail.de.text.erb
  api/app/views/feedback_mailer/feedback_reminder_mail.en.html.erb
  api/app/views/feedback_mailer/feedback_reminder_mail.en.text.erb
  api/app/views/feedback_mailer/feedback_reminder_mail.fr.html.erb
  api/app/views/feedback_mailer/feedback_reminder_mail.fr.text.erb
  api/config/locales/de.yml
  api/config/locales/en.yml
  api/config/locales/fr.yml
  api/lib/tasks/feedback_mail.rake
  api/spec/mailers/feedback_mailer_spec.rb
  api/spec/mailers/previews/feedback_mailer_preview.rb
  api/spec/models/service_spec.rb
  api/spec/services/feedback_reminder_mail_sender_service_spec.rb
Labels: API

#218 Workaround for legacy passwords
  api/app/models/concerns/legacy_password_authenticatable.rb
  api/app/models/user.rb
  api/spec/models/user_spec.rb
Labels: API, v1-critical

#219 Password Reset
  api/.env.example
  api/app/helpers/devise/reset_password_instructions_helper.rb
  api/app/jobs/.keep
  api/app/views/devise/mailer/reset_password_instructions.html.erb
  api/config/initializers/devise.rb
  api/debugging/requests/authentication/reset_password.http
  api/spec/helpers/devise/reset_password_instructions_helper_spec.rb
  frontend/src/App.tsx
  frontend/src/stores/apiStore.ts
  frontend/src/views/ChangeForgottenPassword.tsx
  frontend/src/views/ForgotPassword.tsx
  frontend/src/views/Login.tsx
Labels: Frontend

#223 Enable form submission on enter in login form
  frontend/src/views/Login.tsx
Labels: bug
