Repository stiftungswo/better-izivi, pull requests merged in 2019-09, with the labels that each got.

#220 Finalizing ServiceAgreement
  api/.env.example
  api/.env.semaphore
  api/.rubocop.yml
  api/.rubocop_todo.yml
  api/Gemfile
  api/Gemfile.lock
  api/app/assets/fonts/License
  api/app/assets/fonts/RobotoCondensed-Bold.ttf
  api/app/assets/fonts/RobotoCondensed-Regular.ttf
  api/app/assets/fonts/RobotoCondensed-RegularItalic.ttf
  api/app/assets/pdfs/french_service_agreement_form.pdf
  api/app/assets/pdfs/french_service_agreement_text.pdf
  api/app/assets/pdfs/german_service_agreement_form.pdf
  api/app/assets/pdfs/german_service_agreement_text.pdf
  api/app/controllers/v1/concerns/json_and_pdf_respondable.rb
  api/app/controllers/v1/expense_sheets_controller.rb
  api/app/controllers/v1/services_controller.rb
  api/app/services/pdfs/expense_sheet/generator_service.rb
  api/app/services/pdfs/phone_list_service.rb
  api/app/services/pdfs/prawn_helper.rb
  api/app/services/pdfs/service_agreement/first_page.rb
  api/app/services/pdfs/service_agreement/form_fields.rb
  api/app/services/pdfs/service_agreement/form_filler.rb
  api/app/services/pdfs/service_agreement/glue_service.rb
  api/app/services/pdfs/service_form_fields.rb
  api/app/services/pdfs/service_form_filler.rb
  api/config/locales/de.yml
  api/config/locales/en.yml
  api/config/locales/fr.yml
  api/debugging/requests/services/show.http
  api/spec/requests/v1/services_controller_spec.rb
  api/spec/services/pdfs/expense_sheet/generator_service_spec.rb
  api/spec/services/pdfs/phone_list_service_spec.rb
  api/spec/services/pdfs/service_agreement/first_page_spec.rb
  api/spec/services/pdfs/service_agreement/form_filler_spec.rb
  api/spec/services/pdfs/service_agreement/glue_service_spec.rb
  api/spec/services/pdfs/service_form_filler_spec.rb
  api/spec/support/pdf_xobjects_spec_helper.rb
  frontend/src/views/users/service_subform/ServiceOverviewTable.tsx
Labels: API

#234 Validate email
  api/app/models/user.rb
  api/spec/models/user_spec.rb
Labels: API

#242 Make zdp unique
  api/app/models/user.rb
  api/db/migrate/20190910072623_add_unique_zdp_index_to_user.rb
  api/db/schema.rb
  api/migration/v1.sql
  api/spec/models/user_spec.rb
Labels: API

#239 Fix ExpenseSheet Views and spec frontend/backend
  .codeclimate.yml
  api/app/controllers/v1/expense_sheets_controller.rb
  api/app/controllers/v1/service_specifications_controller.rb
  api/app/models/service_specification.rb
  api/app/services/expense_sheet_generator.rb
  api/config/routes.rb
  api/spec/requests/v1/expense_sheets_controller_spec.rb
  api/spec/routing/v1/service_specifications_routing_spec.rb
  api/spec/services/expense_sheet_generator_spec.rb
  frontend/cypress/integration/expense_sheet_spec.js
  frontend/cypress/server/db.json
  frontend/cypress/server/defaults.json
  frontend/cypress/server/index.js
  frontend/cypress/support/commands.js
  frontend/src/form/FormView.tsx
  frontend/src/stores/expenseSheetStore.ts
  frontend/src/types.ts
  frontend/src/views/expense_sheets/ExpenseSheetUpdate.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/ExpenseSheetForm.tsx
  frontend/src/views/expense_sheets/expense_sheet_form/ExpenseSheetFormHeader.tsx
  frontend/src/views/service_overview/ServiceOverview.tsx
  frontend/src/views/service_overview/ServiceRow.tsx
  frontend/src/views/service_specification/serviceSpecificationSchema.ts
  frontend/src/views/users/UserForm.tsx
  frontend/src/views/users/schemas.ts
  frontend/src/views/users/service_modal/ServiceModal.tsx
  frontend/src/views/users/service_modal/ServiceModalForm.tsx
  frontend/src/views/users/service_subform/ServiceOverviewTable.tsx
  frontend/src/views/users/service_subform/ServiceSubform.tsx
Labels: API, Frontend, v1-critical

#247 Prevent expense sheet from invalid updates
  api/app/models/expense_sheet.rb
  api/config/locales/de.yml
  api/config/locales/en.yml
  api/config/locales/fr.yml
  api/spec/factories/expense_sheets.rb
  api/spec/factories/services.rb
  api/spec/models/expense_sheet_spec.rb
  api/spec/requests/v1/expense_sheets_controller_spec.rb
  api/spec/requests/v1/payments_controller_spec.rb
  api/spec/requests/v1/users_controller_spec.rb
  api/spec/services/pain_generation_service_spec.rb
Labels: API, v1-critical

#248 Users List Performance Optimizations
  api/app/controllers/v1/users_controller.rb
  api/app/models/service.rb
  api/app/models/user.rb
  api/app/views/shared/users/_user.json.jbuilder
  api/app/views/v1/users/index.json.jbuilder
  api/spec/models/service_spec.rb
  api/spec/models/user_spec.rb
  api/spec/requests/v1/users_controller_spec.rb
  frontend/src/stores/userStore.ts
  frontend/src/types.ts
  frontend/src/utilities/helpers.ts
  frontend/src/views/users/UserOverview.tsx
Labels: API

#250 Implement service confirm
  api/app/controllers/v1/services_controller.rb
  api/config/routes.rb
  api/spec/requests/v1/services_controller_spec.rb
  api/spec/routing/v1/services_routing_spec.rb
  frontend/cypress/server/defaults.json
  frontend/src/stores/serviceStore.ts
  frontend/src/views/users/service_modal/ServiceModal.tsx
  frontend/src/views/users/service_subform/ServiceOverviewTable.tsx
Labels: API, Frontend, v1-critical

#256 Make frontend delete more efficient
  frontend/src/stores/domainStore.ts
  frontend/src/views/expense_sheets/expense_sheet_form/ExpenseSheetForm.tsx
Labels: Frontend, v1-critical

#263 Make some small adjustments for final release
  api/.env.example
  frontend/prod.Dockerfile
  frontend/src/index.tsx
Labels: mini-issue
